* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: Roboto;
}

.header{
    background:#EC362D ; 
    width: 100%;
    height: 69px;
    color : #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.header .title{
    color: #FFF;
    font-size: 37px;
    font-weight: 700;
}

.newQuiz{
    z-index: 3;
    background-color: rgb(222, 222, 222);
}

.quizQuestions{
    z-index: 3;
    background-color: rgb(153, 153, 153);
}

.quizesList{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizesList .semQuizCriado{
    height: 181px;
    width: 340px;
    margin: 146px 195px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizesList .semQuizCriado div{
    height: 100px;
    width: 250px;
    color: #B9B9B9;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizesList .semQuizCriado button{
    width: 151px;
    height: 40px;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    background: #FAFAFA;
    color: #EC362D;
    text-align: center;
    font-size: 18px;
    transition: all 1s ease;
}

.quizesList .semQuizCriado button:hover{
    color: #FAFAFA;
    background: #EC362D;
    font-weight: 700;
    font-size: 21px;
}

.quizesList .list{
    margin: 30px 0;
}

.quizesList .list .seusQuizesHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 23px;
}

.quizesList .list .seusQuizesHeader ion-icon{
    color: #EC362D;
    font-size: 20px;
    transition: all 1s ease;
}

.quizesList .list .seusQuizesHeader ion-icon:hover{
    color: #ff0d00;
    font-size: 25px;
}

.quizesList .list .title{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.quizesList .list ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    width: 1100px;
}

.quizesList .list ul li{
    width: 340px;
    height: 181px;
    position: relative;
    border-radius: 5px;
    margin: 10px 0;
}

.quizesList .list ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.quizesList .list ul li .quizTitle{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    border-radius: 5px;
}



.displayNone, .semQuizCriado.displayNone{
    display: none;
}

{
    display: none;
}
/* Estilos gerais aqui */



/* Estilos para telas menores */
@media (max-width: 1100px) {
    .newQuiz, .quizQuestions, .quizesList{
        padding: 69px 20px 0 20px;
        margin: 0 auto;
        width: 340px;
    }

    .quizesList .semQuizCriado{
        width: 340px;
        margin: 30px auto;
    }

    .quizesList .list ul{
        width: 340px;
    }

    
}